body {
    width: 60%;
    min-width: 300px;
    line-height: 1.2;
    margin: auto;
}

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-top: 2em;
}

#banner{
    display:block;
    margin:auto;
}

.ui.large.menu {
    margin-top: 0;
}

.actions .rating {
    float: left;
    margin-top: 0.4em
}